<footer class="footer">
    <div class="container">
        <span class="text-center">&copy 2017. Node, Express, MongoDB, MVC application</span> 
        <span class="signs">Built by Evgeniia S.</span>
    </div>
</footer>
